.container {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 500px;
    grid-template-rows: 300px 300px 1300px 1fr;
    grid-column-gap:20px ;
    grid-row-gap: 40px;
    grid-template-areas: 
    "int int"
    "tr tr"
    "main side"
    "ft ft";    
}
.structure {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr ;
    grid-template-rows: 100px 50px 500px 3500px;
    grid-gap: 15px;
    grid-template-areas: 
    "title"
    "profile"
    "picture"
    "topic";
}


/* For medium screens */
@media(min-width: 600px) and (max-width: 900px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 863px;
        grid-template-rows: 150px 300px 1000px 1fr;
        grid-column-gap:20px ;
        grid-row-gap: 40px;
        grid-template-areas: 
        "int int"
        "tr tr"
        "main main"
        "ft ft";    
    }
    .structure {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr ;
        grid-template-rows: 100px 50px 300px 2500px;
        grid-gap: 15px;
        grid-template-areas: 
        "title"
        "profile"
        "picture"
        "topic";
    }
    .structure {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr ;
        grid-template-rows: 100px 50px 300px 2500px;
        grid-gap: 15px;
        grid-template-areas: 
        "title"
        "profile"
        "picture"
        "topic";
    }
    
}

/* For small screens */
@media (min-width: 320px) and (max-width:599px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 563px;
        grid-template-rows: 130px 300px 1000px 1fr;
        grid-column-gap:20px ;
        grid-row-gap: 40px;
        grid-template-areas: 
        "int int"
        "tr tr"
        "main main"
        "ft ft";    
    }
    .structure {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr ;
        grid-template-rows: 100px 50px 200px 2500px;
        grid-gap: 15px;
        grid-template-areas: 
        "title"
        "profile"
        "picture"
        "topic";
    }
}