@import url(/css/homepage.css);

.box {
    display: flex;
}
#zero-p {
    grid-area:title ;
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 20px;
    font-family: "Montserrat", sans-serif;
}
#one-p {
    grid-area: profile;
    display: flex;
    justify-content: left;
    align-content: left;
}
.image {
    grid-area: img;
    display: flex;
    align-content: center;
    justify-content: center;
    height: 50px;
    width: 50px;  
    margin-left: 120px; 
}
.auther {
    grid-area: auther;
    font-family: "Montserrat", sans-serif;
    margin-right: 20px;
}

#two-p {
    grid-area: picture;
    display: flex;
    justify-content: center;
    align-content: center;
}
.discord {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 650px;
    height: 450px;
}
.screenshoot {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 900px;
    height: 500px;
}
#three-p {
    grid-area: topic;  
    padding: 20px;
    font-family: "Montserrat", sans-serif;  
    display: grid;
    grid-template-columns: 1fr 900px 1fr;
    grid-template-rows: 300px;
    grid-gap: 10px;
    grid-template-areas: 
    "empty topic cont";
}
#text {
    grid-area: topic;
    font-size: 20px;
    line-height:50px;
}
#content {
    grid-area: cont;
}


/* For medium screens */
@media (min-width: 600px) and (max-width: 900px) {
    h1 {
        font-size: 20px;
    }
    .image {
        grid-area: img;
        display: flex;
        align-content: center;
        justify-content: center;
        height: 35px;
        width: 35px;   
    }
    h3, span {
        font-size: 15px;
    }
    #three-p {
        grid-area: topic;  
        padding: 20px;
        font-family: "Montserrat", sans-serif;  
        display: grid;
        grid-template-columns: 1fr 600px 1fr;
        grid-template-rows: 300px;
        grid-gap: 10px;
        grid-template-areas: 
        "empty topic cont";
    }
    .discord {
        display: flex;
        justify-content: center;
        align-content: center;
        width: 450px;
        height: 250px;
    }
    .screenshoot {
        display: flex;
        justify-content: center;
        align-content: center;
        width: 600px;
        height: 310px;
    }
    #text {
        grid-area: topic;
        font-size: 15px;
        line-height:35px;
    }
}
/* For small screens */
@media (min-width: 320px) and (max-width:599px) { 
    h1 {
        font-size: 18px;
    }
    .image {
        grid-area: img;
        display: flex;
        align-content: center;
        justify-content: center;
        height: 30px;
        width: 30px;   
    }
    h3, span {
        font-size: 13px;
    }
    #three-p {
        grid-area: topic;  
        padding: 20px;
        font-family: "Montserrat", sans-serif;  
        display: grid;
        grid-template-columns: 1fr 400px 1fr;
        grid-template-rows: 300px;
        grid-gap: 10px;
        grid-template-areas: 
        "empty topic cont";
    }
    .discord {
        display: flex;
        justify-content: center;
        align-content: center;
        width: 300px;
        height: 200px;
    }
    .screenshoot {
        display: flex;
        justify-content: center;
        align-content: center;
        width: 400px;
        height: 210px;
    }
    #text {
        grid-area: topic;
        font-size: 15px;
        line-height:35px;
    }
}